<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div *ngIf='contacts && contacts.length' class="gaadiex-list">
      <div *ngFor='let contact of contacts' class="gaadiex-list-item"><img class="gaadiex-list-item-img" src="assets/profile.png" alt="List user">
        <div class="gaadiex-list-item-text">
          <h3><a [routerLink]="['/contacts', contact.id]">{{ contact.firstName + ' ' + contact.lastName}}</a></h3>
          <h4>{{ contact.phone }}</h4>
          <p> I'll be in your neighborhood doing errands</p>
        </div>
      </div>
    </div>
    <img *ngIf='!(contacts && contacts.length)' src="assets/Loading_icon.gif" alt="">
  </div>
</div>
<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>