<div class='card'>
  <div class='card-header'>
    <h2>{{pageTitle}}</h2>
  </div>
  <div class='card-body'>
      <ul *ngIf='contacts && contacts.length' class="list-group list-group-flush">
        <li *ngFor='let contact of contacts' class="list-group-item">
          <div class="row">
            <div class="col-sm-2">
              <img class="profile-pic" src="assets/profile.png" alt="">
            </div>
            <div class="col-sm-5">
              <h5>
                <a [routerLink]="['/contacts', contact.id]">
                  {{ contact.firstName + ' ' + contact.lastName}}
                </a>
              </h5>
            </div>
            <div class="col-sm-5">
              <h5>{{ contact.phone }} </h5>
            </div>
          </div>
        </li>
      </ul>
    <img *ngIf='!(contacts && contacts.length)' src="assets/Loading_icon.gif" alt="">
  </div>
</div>
<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>