<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div *ngIf='messages && messages.length' class="gaadiex-list">
        <div *ngFor='let message of messages' class="gaadiex-list-item"><img class="gaadiex-list-item-img" src="assets/message.png" alt="List user">
          <div class="gaadiex-list-item-text">
            <h3><a [routerLink]="['/messages']">{{ message.recipient}}</a></h3>
            <h4> {{ message.message }} </h4>
            <p> {{ message.sentAt }}</p>
          </div>
        </div>
      </div>
    <img *ngIf='!(messages && messages.length)' src="assets/Loading_icon.gif" alt="">
  </div>
</div>
<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>