<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <img *ngIf='!(messages && messages.length)' src="assets/Loading_icon.gif" alt="">
    <div class='table-responsive'>
      <table class='table'
             *ngIf='messages && messages.length'>
        <thead>
          <tr>
            <th>Recipient</th>
            <th>Message</th>
            <th>Sent At</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let message of messages'>
            <td>{{ message.recipient }}</td>
            <td>{{ message.message}}</td>
            <td>{{ message.sentAt }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>